<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<!--<suite name="Suite" parallel = "tests" thread-count = "2"> -->
	<listeners>
		<listener
			class-name="com.air_asia_stepdefintion.ListenersITest" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.TestRunner.TestNgRunner"/>
		</classes>
	</test> <!-- Test -->
<!-- <test name="Test1">
		<classes>
			<class name="com.TestRunner.TestNgRunner" />
		</classes>
	</test>  -->
</suite> <!-- Suite -->
